			<footer>
				<div class="container d-flex justify-content-around my-5">
					<p class="sns text-center">
						<a href="https://twitter.com/beginner_at_dev" target="_blank" rel="noopener noreferrer" style="color: #c4a747"><i class="fab fa-twitter fa-2x twittericon"></i></a>
						<br>Twitter
					</p>
					<p class="sns text-center">
						<a href="https://www.instagram.com/ariel_webengineer/" target="_blank" rel="noopener noreferrer" style="color: #c4a747"><i class="fab fa-instagram-square fa-2x instaicon"></i></a>
						<br>Instagram
					</p>
					<p class="sns text-center">
						<a href="#" style="color: #c4a747"><i class="fab fa-github fa-2x githubicon"></i></a>
						<br>github
					</p>
				</div>
				<div class="text-center">
					<p class="footer-message">
					This Web Site is made by HTML/CSS/Bootstrap/jQuery/Node.js/JavaScript.
					©Copyright2020 Ayaka Nakamura.All Rights Reserved.
					</p>
				</div>
			</footer>
		</div> <!-- wrapperの閉じタグ -->
	</body>
</html>