<%- include("../partials/header") %>
<!DOCTYPE html>
<html lang="ja">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>500 ERROR</title>
	<!-- Google Font -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/500.css">
	<!-- js -->
    <script nonce="<%= nonce %>" type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script nonce="<%= nonce %>" type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>
  <body>
	<div class="wrapper container-fluid">
		<div class="inner">
		  <h1>500 : 申し訳ございません。サーバー側でエラーが発生しています。後ほどお試しください。<br>I am sorry, it's server error. Please try it again later.</h1>
			<div class="goback">
				<a href="/">トップ画面へ戻る</a><br>
				<a href="/?lang=en">Go back to the top page</a>
			</div>
		</div>
    </div>
<%- include("../partials/footer") %>